rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{profileId} {
      allow read, write: if true;
      
      match /active_phase/{activityId} {
        allow read, write: if true;
      }
      
      match /history/{activityId} {
        allow read, write: if true;
      }
    }
  }
}